@model UpdateClassificationDto ;

<form action="~/Admin/Classification/Edit/" method="post" enctype="multipart/form-data">
    <div class="">
        <div>
            <input asp-for="Id" hidden value="@ViewBag.Classification.Id">

            <div class="">
                <div>
                    <h5>Edit the News </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input required asp-for="Name" type="text" class="form-control" value="@ViewBag.Classification.Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn_1 medium">Save</button>
            </div>
        </div>

    </div>
</form>

