@{
    ViewData["Title"] = "Not Found";
}

<div class="text-center" style="margin-top:50px">
    <h1 class="display-4">404</h1>
    <p>Your request could not be found.<a href="~/Admin/Base/DefaultPage">Back to the main page</a>.</p>
</div>
