@{
    ViewData["Title"] = "Unauthorized";
}

<div class="text-center" style="margin-top:50px">
    <h1 class="display-4">Unauthorized</h1>
    <p>You do not have access to this page <a href="#">!!!</a>.</p>
</div>
